.home_container {
  max-width: 900px;
  min-height: 100vh;
  overflow: hidden;
}

/* Fixed Elements */
.home_fixed_cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

/* Details */
.home_detail_cont {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Divider */
.home_divider {
  background-color: rgb(196, 192, 192);
  width: 0.5px;
  height: 650px;
  position: fixed;
  right: 0;
  transform: translateX(-500px);
  padding: 0.5px;
  margin-top: 5px;
}
